<h1>Performance App Header</h1>
<nav>
  <a href="/spaces/space1">space1</a>
  <a href="/spaces/space2">space2</a>
  <a href="/spaces/space3">space3</a>
  <a href="/users/logout">Logout</a>
</nav>
<hr><br><br>
