<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title><%= titlename%></title>
  </head>
  <body>
    <h1>Performance App Header</h1>
    <nav>
      <a href="/">Home</a>
    </nav>
    <hr><br><br>

    <h1>The Performance APP is currently down at the moment.</h1>
    <h2>We will do our best to be back soon!</h2>
    <p>Please contact the administration or follow our status on Twitter</p>

    <%include ../partials/footer%>

  </body>
</html>
